.header {
  text-align: center;
  background-color: var(--headerFotter);
  padding: 12px;

  position: sticky; /*grudavel*/
  top: -1px;
  z-index: 1; /*Assim, ele ficará na frente de tds*/

  display: flex; /*coloquei na lateral os icones*/
  align-items: center; /*centralizar os icones*/
  justify-content: space-between; /*espaçamento igual*/
  cursor: initial;
}
.h1Header {
  font-family: "cabeçalho";
}
.img:hover {
  box-shadow: 1px 2px #6ad0ff;
  border-radius: 0% 0% 40% 10%;
}
