.starry-bg {
  top: 0;
  left: 0;
  top: 0;
  left: 0;
  width: 100vw; /* Ocupa toda a largura da tela */
  z-index: -1; /* Coloca o fundo atrás do conteúdo da página */
}

/* Estrelas cadentes */
.shooting-star {
  position: fixed; /* ou absolute */
  width: 1px;
  height: 90px;
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.562),
    rgba(255, 255, 255, 0.158)
  );
  top: -5%;
  left: 50%;
  right: -5%;
  animation: shooting 8s linear infinite; /* Velocidade deles */
}

/* Animação de estrela cadente */
@keyframes shooting {
  0% {
    transform: translate(0, 0) rotate(225deg); /* rotação 225º */
    opacity: 1;
  }
  100% {
    transform: translate(-600px, 600px) rotate(225deg); /* deslizando pra baixo/esquerda */
    opacity: 0;
  }
}

/* Estrelas fixas */
.stars,
.stars2,
.stars3,
.stars4 {
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 0 0 1px white, 10% 10% 1px white, 20% 20% 1px white,
    30% 30% 1px white, 40% 40% 1px white, 50% 50% 1px white, 60% 60% 1px white,
    70% 70% 1px white, 80% 80% 1px white, 90% 90% 1px white;
}

/* Estrelas em camadas diferentes */
.stars2 {
  transform: scale(2);
  opacity: 0.5;
}

.stars3 {
  transform: scale(2);
  opacity: 0.3;
}

.stars4 {
  transform: scale(1.5);
  opacity: 0.8;
}

/* Distribuindo as estrelas cadentes de forma mais dinâmica */
.shooting-star:nth-child(3) {
  left: 90%;
  animation-delay: 5s;
}
.shooting-star:nth-child(4) {
  left: 20%;
  animation-delay: 2s;
}
.shooting-star:nth-child(5) {
  left: 40%;
  animation-delay: 4s;
}
.shooting-star:nth-child(6) {
  left: 60%;
  animation-delay: 6s;
}
.shooting-star:nth-child(7) {
  left: 80%;
  animation-delay: 8s;
}
.shooting-star:nth-child(8) {
  left: 100%;
  animation-delay: 8s;
}
.shooting-star:nth-child(9) {
  left: 30%;
  animation-delay: 1s;
}
.shooting-star:nth-child(10) {
  left: 70%;
  animation-delay: 3s;
}
.shooting-star:nth-child(11) {
  left: 50%;
  animation-delay: 5s;
}
.shooting-star:nth-child(12) {
  left: 90%;
  animation-delay: 7s;
}
.shooting-star:nth-child(13) {
  left: 10%;
  animation-delay: 9s;
}
.shooting-star:nth-child(14) {
  left: 70%;
  animation-delay: 9s;
}
